<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lostlist" text="Objets perdus"></ion-back-button>
    </ion-buttons>
    <ion-title>viewentry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="bg-img">
    <h1>Objet trouvé</h1>
    <ion-card>
      <ion-item-sliding>
        <ion-item-options side="end">
      
          <ion-item-option (click)="deleteObject(viewData.id)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
       
        <ion-item lines="none">
          <ion-label>
            <h2>Description : {{viewData.description}} </h2>
            <p>date : {{viewData.date}} </p>
            <p>lieux : {{viewData.location}} </p>
            <p>id : {{viewData.id}} </p>
           
            <ion-toolbar >
              <ion-segment value="{{viewData.status}}">
                <ion-segment-button value="0" (click)="updateObject()">
                 Perdu
                </ion-segment-button>
                <ion-segment-button value="1" (click)="updateObject()">
                  Trouvé
                </ion-segment-button>
              </ion-segment>
            </ion-toolbar>
            
          </ion-label>
        </ion-item>


      </ion-item-sliding>
    </ion-card>


  </div>

</ion-content>