.ion-text-center {
    color :#6370ff;
}

.image {
padding: 1px;
height: 70px;
width: 100%;
background-image: url('../../assets/objet_perdu.png');
background-repeat: no-repeat;
background-size: cover; 
}