<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>J'AI TROUVE</ion-title>
  </ion-toolbar>
  <ion-button expand="block"  (click)="deconnecter()" class="add-button">Deconnexion</ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="bg-img"></div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <h1 class="ion-text-center"><b>Ajouter un objet Trouvé</b></h1>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()"  novalidate>
      <ion-item lines="full">
        <ion-label>Description</ion-label>
        <ion-input  type="text" formControlName="description"
          placeholder="entrer la description de l'objet"></ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
            Description requise.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.pattern">
           Plus de trois caractères.
          </span>
      </ion-item>
    

      <ion-item lines="full">
        <ion-label>Date de la perte</ion-label>
        <ion-input formControlName="date" type="date" placeholder="entrer la date de l'objet trouvé">
        </ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.date.errors?.required">
          Date requise.
        </span>
       
      </ion-item>
      <ion-item lines="full">
        <ion-label>Lieu</ion-label>
        <ion-input  type="text" formControlName="location" placeholder="entrer le lieu de l'objet trouvé">
        </ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.location.errors?.required">
          Lieu requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.location.errors?.pattern">
         Plus de trois caractères.
        </span>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Prénom : </ion-label>
        <ion-input  type="text" formControlName="firstname" placeholder="entrer votre prénom"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.firstname.errors?.required">
          Prénom requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.firstname.errors?.pattern">
         Plus de trois caractères.
        </span>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Nom : </ion-label>
        <ion-input  type="text" formControlName="lastname" placeholder="entrer votre nom"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.lastname.errors?.required">
          Nom requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.lastname.errors?.pattern">
         Plus de trois caractères.
        </span>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Email : </ion-label>
        <ion-input  type="email" formControlName="email" placeholder="entrer votre e-mail"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
         Mail requis.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
         Plus de trois caractères.
        </span>
      </ion-item>
      <ion-button expand="block" type="submit" class="add-button" >Ajouter un objet</ion-button>
      <ion-button expand="block" type="reset" class="add-button">Effacer</ion-button>

    </form>
  </ion-card>


</ion-content>