<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Objets trouvés
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
   
    <ion-button expand="block"  (click)="deconnecter()" class="add-button">Deconnexion</ion-button>

    <ion-icon class="logo" color="primary" name="chatbubbles-outline"></ion-icon> <br>

    <ion-item color="primary">
      <ion-label class="acceder">EFFECTUER UNE DÉCLARATION</ion-label>
    </ion-item>
    <ion-item routerLink="/lost" color="danger">
      <ion-icon slot="start" name="sad-outline"></ion-icon>
      <ion-label>J'ai perdu un objet</ion-label>
    </ion-item>

    <ion-item routerLink="/found" color="success">
      <ion-icon slot="start" name="happy-outline"></ion-icon>
      <ion-label>J'ai trouvé un objet</ion-label>
    </ion-item>

    
    <ion-item color="primary">
    <ion-label class="acceder">ACCÉDER AUX LISTES D'OBJETS</ion-label>
  </ion-item>


    <div class="objet">
      <ion-item routerLink="/lostlist">
        <ion-icon slot="start" name="search-outline"></ion-icon>
       
        <ion-label class="per">Objets perdus</ion-label>
      </ion-item>
      <ion-item routerLink="/foundlist">
        <ion-icon slot="start" name="search-outline"></ion-icon>
       
        <ion-label class="trou">Objets trouves</ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>