<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Objets trouvés
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <div id="container">
    <ion-icon  class="logo" color="primary" name="chatbubbles-outline"></ion-icon> <br>
    <ion-label>Effectuez une déclaration</ion-label>
    <ion-item routerLink="/lost">

      <ion-label>J'ai perdu un objet</ion-label>
    </ion-item>
    <ion-item routerLink="/found">

      <ion-label class="perdu_objet">J'ai trouvé un objet</ion-label>
    </ion-item>

    <ion-label>Ou accédez aux listes d'objets</ion-label>
    <ion-item routerLink="/lostlist">
      <ion-icon slot="start" color="medium" name="happy-outline"></ion-icon>
      <ion-label>Objets perdu</ion-label>
    </ion-item>
    <ion-item routerLink="/foundlist">
      <ion-icon slot="start" color="medium" name="happy-outline"></ion-icon>
      <ion-label>Objets trouves</ion-label>
    </ion-item>
    <!--<strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>-->
  </div>
</ion-content>