#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.logo{
  font-size:120px;
 
}
.perdu_objet {
text-align:center;
  color:red;
  border:1px solid red;
  border-radius: 20px;
  font-size: 12px;
}
.trouve_objet {
  text-align:center;
    color:green;
    border:1px solid green;
    border-radius: 20px;
    font-size: 12px;
  }

  .acceder {
margin-bottom: 20px;

  }

.objet {

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  .per, .trou {
    font-size: 10px;
    text-align: start;
  }
}